linkfluence_lead_generation_and_scoring.json
{
  "name": "linkfluence_lead_generation_and_scoring",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.linkfluence.me/companies/query ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"filter\": {\n    \"custom_data.lead_score\": null\n  },\n  \"limit\": 100\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "3d18a31d-cf0b-4d00-8e05-91e5be2ebe1b",
      "name": "🏢 companies query1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        508,
        972
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "psWx1Axyc77Jimaa",
          "name": "linkfluence"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "03242358-217a-40bf-9002-cbbdc829d95d",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        716,
        972
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.linkfluence.me/tasks/download_companies  ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"search_url\": \"https://www.linkedin.com/search/results/companies/?companyHqGeo=%5B%22101282230%22%5D&companySize=%5B%22C%22%2C%22D%22%5D&industryCompanyVertical=%5B%224%22%2C%2296%22%5D&keywords=software&origin=FACETED_SEARCH&sid=c0!\",\n    \"download_pause_at\": 50\n}  ",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "1719f25c-cab3-45e6-8651-8902fb7b6dd9",
      "name": "📥🏢 download companies3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        560
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "psWx1Axyc77Jimaa",
          "name": "linkfluence"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.linkfluence.me/companies/custom_data ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"company_id\": \"{{ $('🏢 companies query1').item.json.company_id }}\",\n  \"field_name\": \"lead_score\",\n  \"value\": {\n    \"score\": 0,\n    \"reasons\": [\n      \"is B2C company\"\n    ]\n  }\n} ",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "df576cdc-1938-485e-ad65-920e958303aa",
      "name": "🏢 Set Lead Score = 0",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1516,
        1084
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "psWx1Axyc77Jimaa",
          "name": "linkfluence"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.linkfluence.me/companies/custom_data ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"company_id\": \"{{ $('🏢 companies query1').item.json.company_id }}\",\n  \"field_name\": \"lead_score\",\n  \"value\": {\n    \"score\": 30,\n    \"reasons\": [\n      \"B2B Audience\",\n      \"product company\"\n    ]\n  }\n} ",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "a8d3a1f3-efd3-41fe-80dd-3b83f794e2ba",
      "name": "🏢 Set Lead Score = 30",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        1100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "psWx1Axyc77Jimaa",
          "name": "linkfluence"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.linkfluence.me/companies/custom_data ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"company_id\": \"{{ $('🏢 companies query1').item.json.company_id }}\",\n  \"field_name\": \"lead_score\",\n  \"value\": {\n    \"score\": 20,\n    \"reasons\": [\n      \"B2B Audience\",\n      \"service company\"      \n    ]\n  }\n} ",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "58aabcc3-d4cd-4c15-ab75-ac173418ada9",
      "name": "🏢 Set Lead Score = 20",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        1084
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "psWx1Axyc77Jimaa",
          "name": "linkfluence"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.linkfluence.me/tasks/download_people ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"search_url\": \"https://www.linkedin.com/search/results/people/?keywords=Sales&origin=FACETED_SEARCH&geoUrn=%5B%22101282230%22%2C%22103883259%22%5D&currentCompany=%5B%22125999%22%5D\",\n \"company_name\": \"{{ $json.company_name }}\",\n \"company_id\": \"{{ $json.company_id }}\",\n \"download_pause_at\": 20\n}       ",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "0389d6a6-5077-4838-a587-7dae52f7cb5c",
      "name": "👷‍♂️ download people with search url1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2748,
        572
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "psWx1Axyc77Jimaa",
          "name": "linkfluence"
        }
      }
    },
    {
      "parameters": {
        "content": "# 🏢 Download Companies \n### insert the following parameters to start the download task:\n- search url from linkeidn \n- your agent id\n- [nr. of companies you want to download]\n",
        "height": 304,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        460,
        460
      ],
      "id": "e3fc7aa0-ada7-47a9-b202-b125d32f4d20",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## 🙋‍♂️ Download Persons\n- query the companies for which you want to download the persons from your linkefluence account\n- usally those that scored high enough in your scoring process\n\n### for the person download task insert:\n- search url from linkeidn \n- your agent id\n- [nr. of persons you want to \ndownload per company]",
        "height": 304,
        "width": 720,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2220,
        460
      ],
      "id": "2842eaa5-2997-4b4f-8534-afd7d8ab3531",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## 🏢 Score Companies \n- load the companies you want to score from you linkedfluence account.\n- analyse them with LLMs, Pyhton or Java Script Nodes in n8n that you need to calculate your personal lead score.\n- store the lead score back to your linkedfluence account for further processing.",
        "height": 464,
        "width": 1680
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        460,
        844
      ],
      "id": "a3ed0e27-27be-442b-b7a0-95a9d08b8741",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## 🙋‍♂️ Score Persons\n- load the companies from which you want to score the staff from you linkedfluence account.\n- analyse them with LLMs, Pyhton or Java Script Nodes in n8n that you need to calculate your personal lead score.\n- store the lead score back to your linkedfluence account for further processing.",
        "height": 464,
        "width": 1615.196343248339,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2220,
        844
      ],
      "id": "e5ff4c47-5d7c-4d09-b3af-d90f0819cc20",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.linkfluence.me/companies/employees",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"company_id\": \"{{ $json.company_id }}\"\n} ",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "5ec3205c-399e-4de8-a7ee-790181d90506",
      "name": "🙋‍♂️ get all employees",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2680,
        1080
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "psWx1Axyc77Jimaa",
          "name": "linkfluence"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Hole das erste Item mit der employees-Liste\nconst employees = $input.first().json.employees;\n\n// Erzeuge eine formatierte Zeile für jede Person\nconst profileLines = employees.map(emp => {\n  const id = emp.public_identifier;\n  const role = emp.role || \"No role given\";\n  return `- ${id}: ${role}`;\n});\n\n// Verbinde alles zu einem einzigen String\nconst formattedProfiles = profileLines.join(\"\\n\");\n\n// Gib das Ergebnis zurück\nreturn [\n  {\n    json: {\n      formatted_profiles: formattedProfiles\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3100,
        1060
      ],
      "id": "f92094b5-68db-4bc4-9bde-fad70dcefb39",
      "name": "Prepare Input for Prompt"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "6f589014-ad5e-46c0-8a5b-f66df27c813e",
              "leftValue": "={{ $json.message.content.Type }}",
              "rightValue": "product",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1496771-4a67-4cea-ad2e-9e778b6a5ff4",
      "name": "is product company",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1516,
        892
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "10c7b5de-71c8-4419-8675-d4db582bcdcd",
              "leftValue": "={{ $json.message.content.Market }}",
              "rightValue": "B2B",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e69663c7-2288-489f-8a1c-8d7c2ad1186f",
      "name": "is B2B company",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1260,
        988
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.linkfluence.me/companies/query  ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"filter\": {\n    \"custom_data.lead_score.score\": {\"$gt\":21}\n  },\n  \"limit\": 100\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "33abc75e-0570-45e2-a069-372e41b50877",
      "name": "🏢 get companies3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2260,
        1040
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "psWx1Axyc77Jimaa",
          "name": "linkfluence"
        }
      }
    },
    {
      "parameters": {
        "content": "## 📦 Export Companies\n- query the companies which you want to export from your linkefluence account\n- connect it to whatever platform you want to export it to:\n - google sheets\n - airtable\n - your CRM (Hubspot, \n   Pipedrive, Sales Forece...)\n",
        "height": 299.00667780439346,
        "width": 880.8063436725865
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1259.1936563274132,
        460
      ],
      "id": "eb6517c7-1de8-43d1-af28-d5943bca937a",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## 📦 Export Persons\n- query the persons which you want to export from your linkefluence account\n- connect it to whatever platform you want to export it to:\n - google sheets\n - airtable\n - your CRM (Hubspot, \n   Pipedrive, Sales Forece...)",
        "height": 304,
        "width": 869.2834060631017,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2956,
        460
      ],
      "id": "e740e798-a6ff-4e51-aa59-d826b6dddca3",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2476,
        1036
      ],
      "id": "1870db80-ca7e-443f-9eb5-f55e052e141c",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.linkfluence.me/persons/query  ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"filter\": {}\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "78f7efe9-1638-4841-9685-0b9d2306514f",
      "name": "🙋‍♂️ get persons",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3220,
        580
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "psWx1Axyc77Jimaa",
          "name": "linkfluence"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.linkfluence.me/companies/query  ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"filter\": {\n    \"custom_data.lead_score.score\": {\"$gt\":21}\n  }\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "2ab55643-1c68-4f54-b7db-0453219054a4",
      "name": "🏢 query companies",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2556,
        572
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "psWx1Axyc77Jimaa",
          "name": "linkfluence"
        }
      }
    },
    {
      "parameters": {},
      "id": "765dd5c3-be6d-4f8d-a2db-7a67de180575",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1600,
        1440
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4-turbo",
          "mode": "list",
          "cachedResultName": "GPT-4-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an expert in B2B marketing analytics and customer acquisition economics.\n\nAnalyze the company's LinkedIn description provided below and determine:\n\nWhether the company primarily targets a B2C (business-to-consumer) or B2B (business-to-business) market.\n\nWhether the company primarily sells a service or a product.\n\nBase your judgment only on the information in the LinkedIn description.\nIf there is insufficient information, make the most likely classification based on context.\n\nReturn your answer strictly in the following JSON format (no extra text, comments, or explanations).\n\n**✅ Example outputs**\n*example 1:\n{\n  \"Market\": \"B2C\",\n  \"Type\": \"service\"\n}\n\n*example 2:\n{\n  \"Market\": \"B2B\",\n  \"Type\": \"product\"\n}\n\n*example 3:\n{\n  \"Market\": \"B2C\",\n  \"Type\": \"product\"\n}\n\n*example 4:\n{\n  \"Market\": \"B2B\",\n  \"Type\": \"service\"\n}\n\n---\n**Company Summary:**\n{{ $json.data.description }}\n"
            },
            {}
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "bcae22c2-e8cf-4615-94eb-427e8a686faf",
      "name": "B2B / B2C, Service /Product",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [
        940,
        988
      ],
      "credentials": {
        "openAiApi": {
          "id": "bCysZ2NYffxOFtrR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4-turbo",
          "mode": "list",
          "cachedResultName": "GPT-4-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "=From the list of profiles below, pick one person who is most likely to have decision-making authority over the sales budget.\n\nSelection cues (for reasoning only, do NOT output): Prefer Founder/Owner, CEO/President, C-level (CRO/COO/CTO/CFO/CMO), Managing Director, VP, Head of Sales/Revenue, Sales Director, or roles mentioning budget/P&L/procurement/buying/“decision maker”. If ties, choose the most senior title; if still tied, choose the one closest to sales/revenue; if still tied, choose the first in the list.\n\nOUTPUT CONTRACT (must be followed exactly):\n- Return ONLY a single valid JSON string on one line.\n- The string must be exactly one public_identifier from the list (case-sensitive match).\n- No arrays, no objects, no extra text, no markdown, no comments, no line breaks.\n- Your response must match this regex exactly:\n- ^\"[a-z0-9-]+\"$\n\nValid example:\n\"patrick-seidl\"\n\nInvalid examples (do NOT do these):\n[\"patrick-seidl\"]\n{ \"id\": \"patrick-seidl\" }\n\"patrick-seidl\",\n\"Patrick-Seidl\"\npatrick-seidl\n\nProfiles (public_identifier: title):\n{{ $json.formatted_profiles }}\n\nRespond with only the JSON string."
            },
            {
              "content": "You are a data extractor. Follow the output contract exactly. Do not add anything beyond what is explicitly allowed.",
              "role": "system"
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "id": "303ff5bf-5f00-4081-b09b-801e9fd99822",
      "name": "Select best contact person1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [
        3300,
        1060
      ],
      "credentials": {
        "openAiApi": {
          "id": "bCysZ2NYffxOFtrR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "5ecd9634-e202-4001-b1db-23997047dc17",
              "leftValue": "={{ $json.employees }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "60a3f525-07f0-44e2-a0c9-c3829ee2634b",
      "name": "has employees",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2900,
        1080
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.linkfluence.me/persons/tags/add",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"public_identifier\": {{ $json.choices[0].message.content }},\n  \"tags\": [\"is Budget owner\"]  \n}    ",
        "options": {}
      },
      "id": "c92b901c-72d6-4d37-94b5-b3b551e063f7",
      "name": "person_set_tag",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3640,
        1060
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "psWx1Axyc77Jimaa",
          "name": "linkfluence"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1e8efi0vDEeEO4MpLD0hBxLqwzjnoe-QT-TT7X1UvyDY",
          "mode": "list",
          "cachedResultName": "n8n_output",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e8efi0vDEeEO4MpLD0hBxLqwzjnoe-QT-TT7X1UvyDY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "companies",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e8efi0vDEeEO4MpLD0hBxLqwzjnoe-QT-TT7X1UvyDY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "company_id": "={{ $json.company_id }}",
            "universal_name": "={{ $json.universal_name }}",
            "company_name": "={{ $json.company_name }}",
            "data.description": "={{ $json.data.description }}",
            "custom_data.lead_score.score": "={{ $json.custom_data.lead_score.score }}",
            "custom_data.lead_score.reasons": "={{ $json.custom_data.lead_score.reasons }}",
            "data.industry": "={{ $json.data.industry }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "company_id",
              "displayName": "company_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "universal_name",
              "displayName": "universal_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data.tagline",
              "displayName": "data.tagline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data.description",
              "displayName": "data.description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data.specialities",
              "displayName": "data.specialities",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data.industry",
              "displayName": "data.industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data.locations",
              "displayName": "data.locations",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data.headcount",
              "displayName": "data.headcount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "custom_data.lead_score.score",
              "displayName": "custom_data.lead_score.score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "custom_data.lead_score.reasons",
              "displayName": "custom_data.lead_score.reasons",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "e5c6c1d5-7e99-40b4-9276-3e4fb42a6a0d",
      "name": "Exported Companies",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        1920,
        580
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "shARdreD2paAqwxW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1e8efi0vDEeEO4MpLD0hBxLqwzjnoe-QT-TT7X1UvyDY",
          "mode": "list",
          "cachedResultName": "n8n_output",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e8efi0vDEeEO4MpLD0hBxLqwzjnoe-QT-TT7X1UvyDY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 640265751,
          "mode": "list",
          "cachedResultName": "persons",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e8efi0vDEeEO4MpLD0hBxLqwzjnoe-QT-TT7X1UvyDY/edit#gid=640265751"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "public_identifier": "={{ $json.public_identifier }}",
            "provider_id": "={{ $json.provider_id }}",
            "first_name": "={{ $json.full_name }}",
            "company_id": "={{ $json.employer.company_id }}",
            "company": "={{ $json.employer.universal_name }}",
            "tags": "={{ $json.lead_score.tags }}",
            "location": "={{ $json.data.location }}",
            "last_name": "={{ $json.data.last_name }}",
            "role": "={{ $json.data.headline }}",
            "headline": "={{ $json.data.summary }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "public_identifier",
              "displayName": "public_identifier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "provider_id",
              "displayName": "provider_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_id",
              "displayName": "company_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "is selected",
              "displayName": "is selected",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tags",
              "displayName": "tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "headline",
              "displayName": "headline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "public_profile_url",
              "displayName": "public_profile_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "profile_picture_url",
              "displayName": "profile_picture_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_location",
              "displayName": "company_location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_industry",
              "displayName": "company_industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tenure_company_years",
              "displayName": "tenure_company_years",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tenure_company_months",
              "displayName": "tenure_company_months",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "premium",
              "displayName": "premium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "invitation_state",
              "displayName": "invitation_state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "workspace_id",
              "displayName": "workspace_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "65fd5c8e-ac80-466e-af1a-b240c03d3928",
      "name": "exported persons",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        3440,
        580
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "shARdreD2paAqwxW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.linkfluence.me/companies/query  ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"filter\": {\n    \"custom_data.lead_score.score\": {\"$exists\": true}\n  }\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "00f3bf8a-1401-4a63-b3ff-facc3db0e0ac",
      "name": "🏢 query companies1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1700,
        580
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "psWx1Axyc77Jimaa",
          "name": "linkfluence"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "🏢 companies query1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "B2B / B2C, Service /Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🏢 Set Lead Score = 0": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🏢 Set Lead Score = 30": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🏢 Set Lead Score = 20": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🙋‍♂️ get all employees": {
      "main": [
        [
          {
            "node": "has employees",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Input for Prompt": {
      "main": [
        [
          {
            "node": "Select best contact person1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is product company": {
      "main": [
        [
          {
            "node": "🏢 Set Lead Score = 30",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🏢 Set Lead Score = 20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is B2B company": {
      "main": [
        [
          {
            "node": "is product company",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🏢 Set Lead Score = 0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🏢 get companies3": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "🙋‍♂️ get all employees",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🏢 query companies": {
      "main": [
        [
          {
            "node": "👷‍♂️ download people with search url1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        []
      ]
    },
    "B2B / B2C, Service /Product": {
      "main": [
        [
          {
            "node": "is B2B company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select best contact person1": {
      "main": [
        [
          {
            "node": "person_set_tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "has employees": {
      "main": [
        [
          {
            "node": "Prepare Input for Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "person_set_tag": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🙋‍♂️ get persons": {
      "main": [
        [
          {
            "node": "exported persons",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🏢 query companies1": {
      "main": [
        [
          {
            "node": "Exported Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fbdf7995-dfda-4cf9-9464-162c840ef9c8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1fa85c4d1a08fc87e14438ac5df9c6b0197a2cb7066fb3dbdaf34a974db55ab9"
  },
  "id": "roAQ8crafBl2KA6u",
  "tags": []
}
